---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeHeader from '../components/home/HomeHeader.astro';
import HeroSection from '../components/home/HeroSection.astro';
import ExperienceSection from '../components/home/ExperienceSection.astro';
import ProjectsSection from '../components/home/ProjectsSection.astro';
import SkillsSection from '../components/home/SkillsSection.astro';
import ContactSection from '../components/home/ContactSection.astro';
import RevealInitializer from '../components/util/RevealInitializer.svelte';
import {
  heroStats,
  projects,
  experiences,
  contactChannels,
} from '../content/home';
import '../styles/pages/home.css';
---

<BaseLayout>
  <HomeHeader />

  <main>
    <HeroSection stats={heroStats} />
    <ExperienceSection experiences={experiences} />
    <ProjectsSection projects={projects} />
    <SkillsSection />
    <ContactSection channels={contactChannels} />
  </main>
  <RevealInitializer client:load />
</BaseLayout>
