---
// Footer component
---

<footer>
	<div>
		<div>
			<span>Shyam Ajudia</span>
		</div>
		<div>
			<p>© 2025 Shyam Ajudia. All rights reserved.</p>
		</div>
		<div>
			<a href="mailto:sajudia@proton.me">Contact</a>
			<a href="https://github.com/yamshy" target="_blank" rel="noopener noreferrer">
				GitHub
			</a>
			<a href="/resume" target="_blank" rel="noopener noreferrer">
				Resume
			</a>
		</div>
	</div>
</footer>