---
interface Props {
  overline: string;
  title: string;
  description?: string;
  testId?: string;
}

const { overline, title, description, testId } = Astro.props as Props;
---

<div class="u-container section__heading" data-testid={testId}>
  <div>
    <p class="u-title-overline">{overline}</p>
    <h2>{title}</h2>
  </div>
  {description && <p>{description}</p>}
</div>
